<!DOCTYPE html> 
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Nimbuslike
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20090717

-->
<%= stylesheet_link_tag "static_pages" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>EZslp Visit Tracker. SLP Therapy Clinical Managment Software. Soap notes, care plans, and authorization periods</title>
<meta name="keywords" content="slp, speech, clinical, therapy, Soap Notes, Progress notes, Therapy Software, Therapy documentation, Clinic software" />
<meta name="description" content="slp speech Therapy clinic software. Progress notes, care plans. EZslp Visit Tracker is software accessible via the Internet that manages speech therapy clinics. " />
<link href="stylesheets/static_pages.css" rel="stylesheet" type="text/css" media="screen" />
<!--Begin Google Analytics-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30924466-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--End Google Analytics-->
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="http://www.ezslp.com/">visitracker<h2>EZslp</h2></a></h1>
			</div>
		<!-- end #logo -->
		</div>
		<!-- end #header -->
		<div id="menu">
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="register">Try it for free</a></li>
				<li><a href=https://ezslp.heroku.com/login>Registered Users Login</a></li>
				<li><a href="screencasts">screencasts</a></li>
      </ul>
      <ul id="social">
        <li><a href=http://twitter.com/#!/ezslp><%= image_tag("twitter.png", :alt => "Smiley face", :height => "42", :width => "42") %></a></li>
        <li><a href=http://www.youtube.com/ezslp><%= image_tag("youtube.png", :alt => "Smiley face", :height => "42", :width => "42") %></a></li>
        <li><a href=http://www.facebook.com/eezslp><%= image_tag("facebook.png", :alt => "Smiley face", :height => "42", :width => "42") %></a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header-wrapper -->
	<div id="page">
		<div id="page-bgcontent">
			<div id="content">
				<div class="post">
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
				  <%= yield %>				
					<div class="meta">
						<p></p>
					</div>
				</div>
				<div class="post">
					<h2 class="title">feature updates</h2>

        	<p class="byline">october 19, 2012</p>
          <div class="entry">
            <p>Updated styling and introduction of mobile ready interface. </p>
          </div>
          <div class="meta">
          </div>

        	<p class="byline">april 15, 2012</p>
          <div class="entry">
            <p><a href="/slp-app-integration">A Case for Integration of Patient Apps and Patient Management</a></p>
          </div>
          <div class="meta">
          </div>

          <p class="byline">march 15, 2012</p>
          <div class="entry">
            <p>Added ability to print by patient authorization. See a screencast of this new feature <a href="screencasts">here.</a></p>
          </div>
          <div class="meta">
          </div>

          <p class="byline">march 1, 2012</p>
          <div class="entry">
            <p>Release of version 1.0</p>
          </div>
          <div class="meta">
          </div>

					<div class="meta">
					</div>
				</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<h2>focus</h2>
						<p><strong>ezSLP</strong> is focused on the needs of Speech Language Pathologists and their practices.</p>
					</li>
					<li>
						<%= render "features"  %>	
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<div id="footer">
			<p>(c) 2011 www.ezslp.com. Special thanks to <a href="http://www.nodethirtythree.com/">nodethirtythree</a> + <a href="http://www.freecsstemplates.org">free css templates</a></p>
		</div>
		<!-- end #footer -->
	</div>
	<!-- end #page -->
</div>
<!-- begin olark code --><script type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length; while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])} c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d); (function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"} D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return "static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('7699-235-10-4052');/*]]>{/literal}*/</script>
<!-- end olark code -->
</body>
</html>
